# Игнорировать папку виртуальной среды (для Python)
.venv/
venv/
env/

# Игнорировать файлы конфигурации IDE (например, PyCharm)
.idea/
*.iml

# Игнорировать временные файлы Python
*.pyc
*.pyo
__pycache__/

# Игнорировать секретные файлы (например, credentials.json)
credentials.json

# Игнорировать файлы журналов и отчеты
*.log

# Игнорировать любые другие неотслеживаемые файлы
*.bak
*.swp
